
<!-- Modal -->
<div class="modal fade" id="exampleModalCenter" tabindex="-1" role="dialog" aria-labelledby="exampleModalCenterTitle" aria-hidden="true">
  <div class="modal-dialog modal-dialog-centered" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLongTitle">Modal title</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true" [routerLink]="['/song/list']">&times;</span>
        </button>
      </div>
      <div class="modal-body">


        <form class="row g-3 needs-validation" [formGroup]="songFormEdit"  novalidate >
          <div class="col-md-6">
            <label  class="form-label">Name Song</label>
            <input type="text" class="form-control"  formControlName="name" >
            <!--                    <div class="valid-feedback">-->
            <!--                      Looks good!-->
            <!--                    </div>-->
          </div>
          <div class="col-md-6">
            <label  class="form-label" >description</label>
            <input type="text" class="form-control"  formControlName="description" >

          </div>
          <div class="col-md-6">
            <label class="form-label">File MP3</label>
            <div class="input-group has-validation">
              <input type="file" class="form-control" (change)="showPreview($event)" #fileUploader aria-describedby="inputGroupPrepend" >
              <img [src]="songFormEdit.get('mp3')?.value" *ngIf="img == null"/>
            </div>

          </div>
          <div class="col-md-6">
            <label  class="form-label">avatar</label>
            <input type="file" class="form-control" (change)="showPreview($event)" #fileUploader >
            <img [src]="img" (click)="fileUploader.click()"/>
            <img [src]="songFormEdit.get('avatar')?.value" *ngIf="img == null"/>
          </div>

          <div class="col-md-6">
            <label  class="form-label"> author</label>
            <input type="text" class="form-control"  formControlName="author" >
          </div>
          <div class="col-md-6"></div>
          <div class="col-md-3">
            <label  class="form-label">SongCategory</label>
            <select class="form-select" formControlName="songCategory" >
              <option    *ngFor="let songCategory of songCategories" [value]="songCategory.id" >{{songCategory.name}}</option>
            </select>
          </div>

          <div class="col-md-3">
            <label  class="form-label">singer</label>
            <select class="form-select"  ngModel formControlName="singer" >
              <option    *ngFor="let singer of singers" [value]="singer.id" >{{singer.name}}</option>
            </select>

          </div>
          <div class="col-12">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
            <button type="submit" class="btn btn-primary" data-dismiss="modal" (click)="edit()">Save changes</button>
          </div>
        </form>

      </div>
      <div class="modal-footer">

      </div>
    </div>
  </div>
</div>
