<!-- ##### Miscellaneous Area Start ##### -->
<section class="miscellaneous-area section-padding-100-0">
  <div class="container">
    <div class="row">
      <!-- ***** Weeks Top ***** -->
      <div class="col-12 col-lg-4">
        <div class="weeks-top-area mb-100">
          <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>See what’s new</p>
            <h2>This week’s top</h2>
          </div>

          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="100ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/wt1.jpg" alt="">
            </div>
            <div class="content-">
              <h6>Sam Smith</h6>
              <p>Underground</p>
            </div>
          </div>

          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="150ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/wt2.jpg" alt="">
            </div>
            <div class="content-">
              <h6>Power Play</h6>
              <p>In my mind</p>
            </div>
          </div>

          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="200ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/wt3.jpg" alt="">
            </div>
            <div class="content-">
              <h6>Cristinne Smith</h6>
              <p>My Music</p>
            </div>
          </div>

          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="250ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/wt4.jpg" alt="">
            </div>
            <div class="content-">
              <h6>The Music Band</h6>
              <p>Underground</p>
            </div>
          </div>

          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="300ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/wt5.jpg" alt="">
            </div>
            <div class="content-">
              <h6>Creative Lyrics</h6>
              <p>Songs and stuff</p>
            </div>
          </div>

          <!-- Single Top Item -->
          <div class="single-top-item d-flex wow fadeInUp" data-wow-delay="350ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/wt6.jpg" alt="">
            </div>
            <div class="content-">
              <h6>The Culture</h6>
              <p>Pop Songs</p>
            </div>
          </div>

        </div>
      </div>

      <!-- ***** New Hits Songs ***** -->
      <div class="col-12 col-lg-4">
        <div class="new-hits-area mb-100">
          <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>See what’s new</p>
            <h2>New Hits</h2>
          </div>

<!--          &lt;!&ndash; Single Top Item &ndash;&gt;-->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="100ms">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <img src="assets/img/bg-img/wt7.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="content-">-->
<!--                <h6>Sam Smith</h6>-->
<!--                <p>Underground</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <audio preload="auto" controls>-->
<!--              <source src="assets/audio/dummy-audio.mp3">-->
<!--            </audio>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Top Item &ndash;&gt;-->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="150ms">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <img src="assets/img/bg-img/wt8.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="content-">-->
<!--                <h6>Power Play</h6>-->
<!--                <p>In my mind</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <audio preload="auto" controls>-->
<!--              <source src="assets/audio/dummy-audio.mp3">-->
<!--            </audio>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Top Item &ndash;&gt;-->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="200ms">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <img src="assets/img/bg-img/wt9.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="content-">-->
<!--                <h6>Cristinne Smith</h6>-->
<!--                <p>My Music</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <audio preload="auto" controls>-->
<!--              <source src="assets/audio/dummy-audio.mp3">-->
<!--            </audio>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Top Item &ndash;&gt;-->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="250ms">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <img src="assets/img/bg-img/wt10.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="content-">-->
<!--                <h6>The Music Band</h6>-->
<!--                <p>Underground</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <audio preload="auto" controls>-->
<!--              <source src="assets/audio/dummy-audio.mp3">-->
<!--            </audio>-->
<!--          </div>-->

<!--          &lt;!&ndash; Single Top Item &ndash;&gt;-->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="300ms">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <img src="assets/img/bg-img/wt11.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="content-">-->
<!--                <h6>Creative Lyrics</h6>-->
<!--                <p>Songs and stuff</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <audio preload="auto" controls>-->
<!--              <source src="assets/audio/dummy-audio.mp3">-->
<!--            </audio>-->
<!--          </div>-->

          <!-- Single Top Item -->
<!--          <div class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp" data-wow-delay="350ms">-->
<!--            <div class="first-part d-flex align-items-center">-->
<!--              <div class="thumbnail">-->
<!--                <img src="assets/img/bg-img/wt12.jpg" alt="">-->
<!--              </div>-->
<!--              <div class="content-">-->
<!--                <h6>The Culture</h6>-->
<!--                <p>Pop Songs</p>-->
<!--              </div>-->
<!--            </div>-->
<!--            <audio preload="auto" controls>-->
<!--              <source src="assets/audio/dummy-audio.mp3">-->
<!--            </audio>-->
<!--          </div>-->
          <!-- ***** New Hits Songs ***** -->
<!--              <div *ngFor="let song of song">-->
                <!-- Single Top Item -->
                <div *ngFor="let song of song" class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
                     data-wow-delay="100ms">
                  <div class="first-part d-flex align-items-center">
                    <div class="thumbnail">
                      <img src="{{song.avatar}}">
                    </div>
                    <div class="content-">
                      <h6>{{song.name}}</h6>
                      <p>{{song.singer?.name}}</p>
                    </div>
                  </div>
                  <audio preload="auto" controls>
                    <source src="{{song.mp3}}">
                  </audio>
                </div>
<!--              </div>-->
        </div>
      </div>

      <!-- ***** Popular Artists ***** -->
      <div class="col-12 col-lg-4">
        <div class="popular-artists-area mb-100">
          <div class="section-heading text-left mb-50 wow fadeInUp" data-wow-delay="50ms">
            <p>See what’s new</p>
            <h2>Popular Artist</h2>
          </div>
          <!-- Single Artist -->
          <div *ngFor="let s of singers" class="single-artists d-flex align-items-center wow fadeInUp" data-wow-delay="400ms">
            <div class="thumbnail">
              <img src="assets/img/bg-img/pa7.jpg" alt="">
            </div>
            <div class="content-">
              <p>{{s.name}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Miscellaneous Area End ##### -->
