<app-header></app-header>

<br>

<div align="center" style="background-image: url('https://images.wallpaperscraft.com/image/single/dj_headphones_installation_122020_3840x2160.jpg')">
<div class="col-8" style="text-align: center" >

  <table >
    <tr  *ngFor="let song of song"
         class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
         data-wow-delay="100ms">
      <td  width="20%" type="button" class="first-part d-flex align-items-center"> <div class="thumbnail">
        <img width="80" height="80" src="{{song.avatar}}">
      </div></td>
      <td width="30%"><div class="content-">
        <h6>{{song.name}}</h6>
        <p>{{song.singer?.name}}</p>
      </div></td>
      <td > <audio preload="auto" controls>
        <source src="{{song.mp3}}">
      </audio></td>
      <td > <span class="material-icons" data-toggle="modal" data-target="#exampleModalCenter" [routerLink]="['/song/edit',song.id]">edit</span>
        <span class="material-icons" data-toggle="modal" data-target="#exampleModalCenter" [routerLink]="['/song/delete',song.id]">delete</span></td>
    </tr>
  </table>
</div>
</div>
<app-footer></app-footer>
