<app-header></app-header>
<app-banner></app-banner>
<div class="row">
  <div class="col-3"></div>

  <div class="col-6" *ngIf="check1==true">
    <div >
      <div class="new-hits-area mb-100">
        <div class="section-heading text-left mb-50 wow fadeInUp col-6" data-wow-delay="50ms">
          <h1>List Song</h1>
        </div>
        <div *ngFor="let song of songs"
             class="single-new-item d-flex align-items-center justify-content-between wow fadeInUp"
             data-wow-delay="100ms">
          <div type="button" class="first-part d-flex align-items-center">
            <div class="thumbnail">
              <img src="{{song.avatar}}">
            </div>
            <div class="content-">
              <h6>{{song.name}}</h6>
              <p>{{song.singer?.name}}</p>
            </div>
          </div>
          <audio preload="auto" controls>
            <source src="{{song.mp3}}">
          </audio>
        </div>
      </div>
    </div>
  </div>
  <section class="events-area section-padding-100" *ngIf="check2 == true">
    <div class="container">
      <h1>List Playlist</h1>
      <div class="row">
        <div class="col-12 col-md-6 col-lg-4" *ngFor="let playlist of playlist">
          <div class="single-event-area mb-30">
            <div class="event-thumbnail">
              <img src="{{playlist.description}}" alt="" style="height: 350px; width: 350px">
            </div>
            <div class="event-text">
              <h4>{{playlist.name}}</h4>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>
  <div class="col-6" *ngIf="check3==true">
    <h1>Danh sách ca sĩ</h1>
    <table class="table ">
      <thead>
      <tr>
        <th scope="col">TT</th>
        <th scope="col">Tên ca sĩ</th>
        <th scope="col">Giới tính</th>
        <th scope="col">Ngày sinh</th>
        <th scope="col">Tiểu sử</th>
        <th scope="col">Năm sinh</th>
        <th scope="col">Ban nhạc</th>
        <th scope="col">Thêm thông tin</th>
      </tr>
      </thead>
      <tbody>
      <tr *ngFor="let singerList of singers, index as i">
        <th scope="row">{{i+1}}</th>
        <td>{{singerList.name}}</td>
        <td>{{singerList.sex}}</td>
        <td>{{singerList.dateOfBirth}}</td>
        <td>{{singerList.story}}</td>
        <td>{{singerList.yearOfBirth}}</td>
        <td>{{singerList.musicBand}}</td>
        <td>{{singerList.MoreInformation}}</td>
      </tr>
      </tbody>
    </table>
  </div>

  <div class="col-3">
  </div>
</div>
<router-outlet></router-outlet>
<app-footer></app-footer>
