<div class="container">
  <h1>ShowForm</h1>

  <form [formGroup]="songForm">
    <div class="form-group">
      <label>Name</label>
      <p formControlName="name"></p>
    </div>

    <div class="form-group">
      <label>description</label>
      <p formControlName="description"></p>
    </div>

    <div class="form-group">
      <label>mp3:</label>
      <p formControlName="mp3"></p>
    </div>
    <div class="form-group">
      <label>avatar:</label>
      <p formControlName="avatar"></p>
    </div>
    <div class="form-group">
      <label>author:</label>
      <p formControlName="author"></p>
    </div>
    <div class="form-group">
      <label>user:</label>
      <p formControlName="user"></p>
    </div>
    <div class="form-group">
      <label>songCategory:</label>
      <p formControlName="songCategory"></p>
    </div>
    <div class="form-group">
      <label>singer:</label>
      <p formControlName="singer"></p>
    </div>

  </form>
</div>
