<div class="container">
  <h1>ShowForm</h1>


    <div class="form-group">
      <label>Name: </label>
      {{songs3.name}}
    </div>
    <div class="form-group">
      <label>description: </label>
      {{songs3.description}}
    </div>
    <div class="form-group">
    <audio preload="auto" controls>
      <source src="{{songs3.mp3}}">
      </audio>
    </div>
    <div class="form-group">
      <label>avatar: </label>
      {{songs3.avatar}}
    </div>
    <div class="form-group">
      <label>author: </label>
      {{songs3.author}}
    </div>
    <div class="form-group">
      <label>user: </label>
      {{songs3.user?.username}}
    </div>
    <div class="form-group">
      <label>songCategory: </label>
      {{songs3.songCategory?.name}}
    </div>
    <div class="form-group">
      <label>singer: </label>
      {{songs3.singer?.name}}
    </div>
 </div>
<app-comments></app-comments>
