<ngx-audio-player [playlist]="Playlist" [displayTitle]="DisplayTitle" [autoPlay]="false"
                  muted="muted" [displayPlaylist]="DisplayPlayList" [pageSizeOptions]="PageSizeOptions" (trackEnded)="onEnded($event)"
                  [displayVolumeControls]="DisplayVolumeControls" [displayRepeatControls]="DisplayRepeatControls"
                  [disablePositionSlider]="DisablePositionSlider" [displayArtist]="DisplayArtist"
                  [displayDuration]="DisplayDuration" [expanded]="true"></ngx-audio-player>
