<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <h2>Danh sách bài hát mới nhất</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div class="ablums-text text-center mb-70">
          <app-song-top6></app-song-top6>
        </div>
      </div>
    </div>
    <div class="row">
    </div>
  </div>
</section>

