<!-- ##### Latest Albums Area Start ##### -->
<section class="latest-albums-area section-padding-100">
  <div class="container">
    <div class="row">
      <div class="col-12">
        <div class="section-heading style-2">
          <p>See what’s new</p>
          <h2>Latest Albums</h2>
        </div>
      </div>
    </div>
    <div class="row justify-content-center">
      <div class="col-12 col-lg-9">
        <div class="ablums-text text-center mb-70">
          <p>Nam tristique ex vel magna tincidunt, ut porta nisl finibus. Vivamus eu dolor eu quam varius rutrum. Fusce nec justo id sem aliquam fringilla nec non lacus. Suspendisse eget lobortis nisi, ac cursus odio. Vivamus nibh velit, rutrum at ipsum ac, dignissim iaculis ante. Donec in velit non elit pulvinar pellentesque et non eros.</p>
        </div>
      </div>
    </div>

    <div class="row">
      <div class="col-12">
        <div class="albums-slideshow owl-carousel">
          <!-- Single Album -->
          <div class="single-album">
            <img src="assets/img/bg-img/a1.jpg" alt="">
            <div class="album-info">
              <a href="#">
                <h5>The Cure</h5>
              </a>
              <p>Second Song</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- ##### Latest Albums Area End ##### -->
