<div class="bg">
  <div class="cg">
  <h1 class="va" [ngStyle]="{color: '#6699FF'}">{{songs3.name}}</h1>
    <div class="form-group">
      <img src="{{songs3.avatar}}" alt="lỗi">
    </div>
    <div class="form-group">
      <audio preload="auto" controls>
        <source src="{{songs3.mp3}}">
      </audio>
    </div>
    <div class="form-group">
      <label>singer: </label>
      {{songs3.singer?.name}}
    </div>
    <div class="form-group">
      <label>author: </label>
      {{songs3.author}}
    </div>
    <div class="form-group">
      <label>description: </label>
      {{songs3.description}}
    </div>
    <div class="form-group">
      <label>songCategory: </label>
      {{songs3.songCategory?.name}}
    </div>
    <div class="form-group">
      <label>user: </label>
      {{songs3.user?.username}}
    </div>


  </div>
 </div>
<app-comments></app-comments>
